

    {{ form_start(form) }}
    {{ form_widget(form) }}

<br>
    <p class="section-title">
        <button class="btn btn-sm btn-outline-secondary">{{ button_label|default('Valider') }}</button>
    </p>
{{ form_end(form) }}
